<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi omnis excepturi animi iure, tempore ipsa molestiae molestias officia officiis velit saepe architecto, porro neque, qui illum doloribus quas optio iusto?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias laudantium blanditiis, debitis ipsum impedit architecto corporis incidunt vero cumque omnis animi, id repellat molestias culpa sapiente doloremque quisquam modi eos!
</p>
